*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

body{
    background-image: url("https://m.media-amazon.com/images/I/81iVhz6Rt6L._SL1000_.jpg");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-position: right;
    background-color:rgb(0, 0, 0);
    color: rgb(240, 20, 12);
    margin: 20px 50px;
}


/* .headingLeft{
    font-size:4vh;
    color:#ed2113;
    text-shadow: 2px 2px 4px rgb(211, 219, 141);
    text-align:start;
}
.headingCenter{
    font-size:5vh;
    color:#f56f15;
    text-shadow: 2px 2px 4px rgb(243, 10, 10);
    text-align:center;
} */

#process{
    color: rgb(45, 150, 91);
    margin: 10px 10px 20px 20px;
}